<template name="layout">
  <nav style="-webkit-app-region: drag">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Dashboard</a>
      {{#if isConnected}}
      <ul id="nav-mobile" class="left" style="-webkit-app-region: no-drag">
        <li><a href="/">Main</a></li>
      </ul>
      {{/if}}
      {{#if showWindowControls}}
      <ul class="right" style="-webkit-app-region: no-drag">
        <li><a href="#"><i class="material-icons">remove</i></a></li>
        <li><a href="#"><i class="material-icons">fullscreen</i></a></li>
        <li><a href="#"><i class="material-icons">close</i></a></li>
      </ul>
      {{/if}}
    </div>
  </nav>
  <div class="content">
    {{> yield}}
  </div>
</template>
