<template name="main">
  {{#if isBotInfo}}
    <p>Chat</p>
    <div style="position: absolute; top: 150px; bottom: 90px; left: 0; right 0; width: 100%; overflow:scroll;" id="chat-log">
    {{#each messages}}
      <div class="row">
        <div class="col s12">
          <div class="card grey lighten-2">
            <div class="card-content">
              <span class="card-title">{{sender}}</span>
              <p>{{message}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <div style="position: absolute; bottom: 0; left: 0; right: 0;" class="row">
      <div class="input-field col s12">
        <input placeholder="Type a message for the bot to say..." style="width: 90%;" id="chat-message" />

        <button class="waves-effect waves-light btn" id="chat-send">Send</button>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col s12 center">
        There is currently no login info on record for your bot. Please login.
      </div>
    </div>
    <div class="row">
      <form class="col s12" id="login-form">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Username" name="botuser" id="botuser" class="validate" />
          </div>
          <div class="input-field col s6">
            <input placeholder="OAuth Access Key" name="botpass" id="botpass" type="password" class="validate" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">people</i>
            <input placeholder="Twitch Channel (The bot will join this channel)" name="botchan" class="validate center" />
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <input class="btn waves-effect waves-light right" type="submit" value="Login &amp; Connect" />
            {{#if showWindowControls}}
              <a class="waves-effect waves-teal btn-flat right" id="oauth-button">Don't have an OAuth Key? Click here to generate one.</a>
            {{else}}
              <a class="waves-effect waves-teal btn-flat right" href="http://twitchapps.com/tmi" target="_blank">Don't have an OAuth Key? Click here to generate one.</a>
            {{/if}}
          </div>
        </div>
      </form>
    </div>
  {{/if}}
</template>
